@import "../../utils/colors";

.navbar {
  display: flex;
  height: 50px;
  width: 100%;
  background-color: white;

  &__logo {
    margin-left: 20px;
  }

  &__header {
    margin-left: 10px;
    font-size: 24px;
    font-weight: 700;
  }
;

  &__email {
    margin-left: auto;
  }

  &__avatar {

    width: 40px;
    height: 40px;
    border-radius: 50%;

    margin-left: 10px;
  }

  &__logout {
    margin: 0 20px;
    cursor: pointer;
  }

  &__login {
    margin-left: auto;
    margin-right: 20px;
  }

  &__registration {
    margin-right: 20px;
  }
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.navbar__search {
  width: 200px;
  margin-left: 10px;
}

